In [1]:
import pandas as pd
import numpy as n

In [3]:
# Define the headers since the data does not have any 

headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

In [8]:
# Read in the CSV file and convert "?" to NaN 

df = pd.read_csv("autos_imports-85.csv", na_values="?" )
df.head()

           symboling normalized-losses make fuel-type   aspiration  \
3 NaN    alfa-romero               gas  std       two  convertible
  NaN    alfa-romero               gas  std       two  convertible
1 NaN    alfa-romero               gas  std       two    hatchback
2 164.0         audi               gas  std      four        sedan
  164.0         audi               gas  std      four        sedan

        num-of-doors body-style  drive-wheels  wheel-base  length  ...  \
3 NaN            rwd      front          88.6       168.8    64.1  ...
  NaN            rwd      front          88.6       168.8    64.1  ...
1 NaN            rwd      front          94.5       171.2    65.5  ...
2 164.0          fwd      front          99.8       176.6    66.2  ...
  164.0          4wd      front          99.4       176.6    66.4  ...

         num-of-cylinders  engine-size fuel-system  bore  stroke  \
3 NaN                 130         mpfi        3.47  2.68     9.0
  NaN                 130         mpfi        3.47  2.68     9.0
1 NaN                 152         mpfi        2.68  3.47     9.0
2 164.0               109         mpfi        3.19  3.40    10.0
  164.0               136         mpfi        3.19  3.40     8.0

        compression-ratio  horsepower-peak-rpm  city-mpg  highway-mpg    price
3 NaN               111.0               5000.0        21           27  13495.0
  NaN               111.0               5000.0        21           27  16500.0
1 NaN               154.0               5000.0        19           26  16500.0
2 164.0             102.0               5500.0        24           30  13950.0
  164.0             115.0               5500.0        18           22  17450.0

[5 rows x 24 columns]

In [9]:
df.dtypes

symboling               object
normalized-losses       object
make                    object
fuel-type               object
aspiration              object
num-of-doors            object
body-style              object
drive-wheels           float64
wheel-base             float64
length                 float64
width                  float64
height                   int64
curb-weight             object
engine-type             object
num-of-cylinders         int64
engine-size             object
fuel-system            float64
bore                   float64
stroke                 float64
compression-ratio      float64
horsepower-peak-rpm    float64
city-mpg                 int64
highway-mpg              int64
price                  float64
dtype: object

In [10]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

           symboling normalized-losses make fuel-type   aspiration  \
3 NaN    alfa-romero               gas  std       two  convertible
  NaN    alfa-romero               gas  std       two  convertible
1 NaN    alfa-romero               gas  std       two    hatchback
2 164.0         audi               gas  std      four        sedan
  164.0         audi               gas  std      four        sedan

        num-of-doors body-style curb-weight engine-type engine-size
3 NaN            rwd      front        dohc        four        mpfi
  NaN            rwd      front        dohc        four        mpfi
1 NaN            rwd      front        ohcv         six        mpfi
2 164.0          fwd      front         ohc        four        mpfi
  164.0          4wd      front         ohc        five        mpfi

In [13]:
obj_df[obj_df.isnull().any(axis=1)]

,,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,curb-weight,engine-type,engine-size
1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [16]:
obj_df["num-of-doors"].value_counts()

fwd    120
rwd     76
4wd      9
Name: num-of-doors, dtype: int64

In [21]:
obj_df = obj_df.fillna({"num-of-doors": "four"})

In [ ]:
#Approach 1 - Find and Replace

In [24]:
df["num-of-cylinders"].value_counts()

122    15
92     15
98     14
97     14
108    13
90     12
110    12
109     8
120     7
141     7
152     6
121     6
146     6
181     6
91      5
156     5
136     5
130     4
183     4
194     3
164     3
171     3
209     3
70      3
234     2
131     2
134     2
140     2
258     2
132     2
111     1
103     1
145     1
151     1
119     1
173     1
203     1
80      1
79      1
326     1
61      1
308     1
304     1
161     1
Name: num-of-cylinders, dtype: int64

In [22]:
cleanup_nums = {"num-of-doors":     {"four": 4, "two": 2},
                "num-of-cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
                 "two": 2, "twelve": 12, "three":3 }}

In [23]:
obj_df.replace(cleanup_nums, inplace=True)

In [25]:
obj_df.head()

           symboling normalized-losses make fuel-type   aspiration  \
3 NaN    alfa-romero               gas  std       two  convertible
  NaN    alfa-romero               gas  std       two  convertible
1 NaN    alfa-romero               gas  std       two    hatchback
2 164.0         audi               gas  std      four        sedan
  164.0         audi               gas  std      four        sedan

        num-of-doors body-style curb-weight engine-type engine-size
3 NaN            rwd      front        dohc        four        mpfi
  NaN            rwd      front        dohc        four        mpfi
1 NaN            rwd      front        ohcv         six        mpfi
2 164.0          fwd      front         ohc        four        mpfi
  164.0          4wd      front         ohc        five        mpfi

In [29]:
obj_df.dtypes

symboling              object
normalized-losses      object
make                   object
fuel-type              object
aspiration             object
num-of-doors           object
body-style           category
curb-weight            object
engine-type            object
engine-size            object
dtype: object

In [ ]:
#Approach 2 - Label Encoding

In [28]:
obj_df["body-style"] = obj_df["body-style"].astype('category')

In [30]:
obj_df.dtypes

symboling              object
normalized-losses      object
make                   object
fuel-type              object
aspiration             object
num-of-doors           object
body-style           category
curb-weight            object
engine-type            object
engine-size            object
dtype: object

In [32]:
obj_df["body_style_cat"] = obj_df["body-style"].cat.codes 
obj_df.head()

           symboling normalized-losses make fuel-type   aspiration  \
3 NaN    alfa-romero               gas  std       two  convertible
  NaN    alfa-romero               gas  std       two  convertible
1 NaN    alfa-romero               gas  std       two    hatchback
2 164.0         audi               gas  std      four        sedan
  164.0         audi               gas  std      four        sedan

        num-of-doors body-style curb-weight engine-type engine-size  \
3 NaN            rwd      front        dohc        four        mpfi
  NaN            rwd      front        dohc        four        mpfi
1 NaN            rwd      front        ohcv         six        mpfi
2 164.0          fwd      front         ohc        four        mpfi
  164.0          4wd      front         ohc        five        mpfi

         body_style_cat
3 NaN                 0
  NaN                 0
1 NaN                 0
2 164.0               0
  164.0               0

In [ ]:
#Scikit-Learn

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
lb_make = LabelEncoder() 
obj_df["make_code"] = lb_make.fit_transform(obj_df["make"])
obj_df[["make", "make_code"]].head(11)

          make  make_code
3 NaN      std          0
  NaN      std          0
1 NaN      std          0
2 164.0    std          0
  164.0    std          0
  NaN      std          0
1 158.0    std          0
  NaN      std          0
  158.0  turbo          1
0 NaN    turbo          1
2 192.0    std          0